* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: xx-small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.crews__app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    height : 40vh;
    width: 70vw;
    border : 2px solid #000;
    margin-bottom: 2px;
   
}

ul li {
    list-style: none;
}

.crews__navbar {
    position: absolute;
    display: flex;
    align-items: end;
    width: 40vw;
    top: 0.5%;
}

.crews__navbar ul li{
    display: inline-block;
    padding: 4px;
    font-size: 10px;
}

.crews__header {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}

.crews__header1 {
    background: #44f;
    height: 80%;
}
.crews__header2 {
    background: #f4f;
    height: 20%;
}

.crews__headerBlock {
    background: #fe4;
    width : 180px;
    justify-content: center;
    text-align: center;
}

.crews__flexRow {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

.crews__watchTab ul li {
    display: inline-block;
    padding: 5px;
    text-align: center;
}
